<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Add New Gig</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Add Gigs{% endblock %}

{% block content %}
<h1>Welcome to your Add Gigs dashboard, {{ tutor.username }}!</h1>
<p>Here you can manage your gigs</p>
<!-- Add any dashboard-specific content here -->
    <div class="container mt-5">
        <h1>Add New Gig</h1>
        <form method="POST" action="{{ url_for('add_gig', tutor_id =tutor.id) }}">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ tutor.username}}" readonly required>
            </div>

            <div class="form-group">
                <label for="about">About Tutor/Subject 
                    <small class="form-text text-muted">
                        In Edit Profile you can add details about your expertise or link your LinkedIn profile to help students understand more about you.
                    </small>
                </label>
                <input type="text" class="form-control" value="{{ tutor.about}}" id="about" name="about" required readonly>
            </div>

            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="cost">Cost (e.g. 30 if $30/hour)</label>
                <input type="number" class="form-control" id="cost" name="cost" required>
            </div>

          
            
            <button type="submit" class="btn btn-primary">Add Gig</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
