<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('explore', user_id=session['id'])}}">Explore Tutors</a></li>
            {% if session['role'] == 'tutor' %}
                <li><a href="{{ url_for('tutor_dashboard', tutor_id=session['id']) }}">Dashboard</a></li>
                <li><a href="{{ url_for('add_gig', tutor_id =session['id']) }}">Add Gig</a></li>
                <li><a href="{{ url_for('edit_tutor', tutor_id=session['id']) }}">Edit Profile</a></li>
            {% elif session['role'] == 'student' %}
                <li><a href="{{ url_for('student_dashboard', student_id=session['id']) }}">Dashboard</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Video Call</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
