<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('explore', user_id=current_user.id)}}">Explore Tutors</a></li>
            {% if current_user.role == 'tutor' %}
                <li><a href="{{ url_for('tutor_dashboard', tutor_id=current_user.id) }}">Dashboard</a></li>
                <li><a href="{{ url_for('add_gig', tutor_id =current_user.id) }}">Add Gig</a></li>
                <li><a href="{{ url_for('edit_tutor', tutor_id=current_user.id) }}">Edit Profile</a></li>
                <li><a href="{{ url_for('display_subscriptions', id=current_user.id) }}">View All Subscriptions</a></li>
            {% elif current_user.role == 'student' %}
                <li><a href="{{ url_for('display_subscriptions', id=current_user.id) }}">View All Subscriptions</a></li>
                <li><a href="{{ url_for('student_dashboard', student_id=current_user.id) }}">Dashboard</a></li>
            {% endif %}
            <li><a href="{{ url_for('inbox', id=current_user.id) }}">Inbox</a></li>
            <li><a href="{{ url_for('index') }}">Video Call</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
