<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Tutors's Profile</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Tutor Dashboard{% endblock %}
    
    {% block content %}
    <h1>Welcome to tutor profile, {{ current_user.username}}!</h1>
    <!-- Add any dashboard-specific content here -->

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ tutors[0]['username'] }}</h2>
                <h6 class="card-title">{{ tutors[0]['about'] }}</h6>
                <h4>Courses:</h4>
                {% if tutors and tutors | length > 0 %}
                    <ul class="list-group mb-3">
                        {% for tutor in tutors %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>Subject:</strong> {{ tutor.subject }} <br>
                                    <strong>Cost:</strong> {{ tutor.cost }} <br>
                                    <strong>email:</strong> {{ tutor.email }}
                                </div>
                                <form action="{{ url_for('subscribed') }}" method="post">
                                    <input type="hidden" name="username" value="{{ current_user.username }}">  <!-- Assuming username is stored in session -->
                                    <input type="hidden" name="email" value="{{ current_user.email }}">      <!-- Assuming email is stored in session -->
                                    <input type="hidden" name="tutor_name" value="{{ tutor.username }}">
                                    <input type="hidden" name="tuition_subject" value="{{ tutor.subject }}">
                                    <input type="hidden" name="tutor_email" value="{{ tutor.email }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No subjects listed</p>
                {% endif %}
                
               <a href="{{ url_for('explore', user_id=current_user.id)}}" class="btn btn-secondary">Back to Explore</a>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>
